
{
  "root": true,
  "extends": "standard",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-bitwise": "off",
    "no-lonely-if": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-loop-func": "off"
  }
}